
<div class="float-left">
    <h1 class="logo"><a href="/"><img src="http://doableyo.com/assets/img/do-able-yo-logo-new1.png" alt="do-able-yo.logo" width="210"></a></h1>
</div>

<div class="float-right top-right-menu">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item href="home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </a>
    <a mat-menu-item href="#adPanel">
      <mat-icon>subject</mat-icon>
      <span>Ads</span>
    </a>
    <a mat-menu-item href="contact">
      <mat-icon>business</mat-icon>
      <span>Contact</span>
    </a>
  </mat-menu>
</div>