<div class="container-fluid">

        
        <div class="header-fluid clearfix">
                <header id="header"></header>
        </div>
        
        <router-outlet></router-outlet>
        <div class="alert alert-info text-center jsCookieNotify cookie-notify"><a href="javascript:void(0)" class="jsCloseCookie float-right"><i class="fa fa-times"></i></a> Cookies help us provide, protect and improve our products and services. By using our website, you agree to our use of cookies (<a href="privacy-policy.php" target="_blank" rel="nofollow,noindex">Privacy policy</a>). </div>
        <app-footer></app-footer>
</div>
  
