
<footer class="text-center clearfix">
    <!-- <mat-toolbar color="transparent">
        <span>&copy;</span>

        - This fills the remaining space of the current row - 
        <!-- <span class="example-fill-remaining-space">Thanks for coming!</span>

        <span>2018</span>
    </mat-toolbar> -->
    <cite class="float-left">DoableYo © 2018 -. All rights reserved.</cite> 
    <div class="float-right">
        <a (click)="feedbackModal.open()" target="_blank">Feedback</a> | <a href="privacy-policy.php" target="_blank">Privacy Policy</a></div>
</footer>

<modal #feedbackModal>
    <ng-template #modalHeader><h4>Your feedback is valuable to us!</h4></ng-template>
    <ng-template #modalBody>
        <feedback></feedback>
    </ng-template>
    <ng-template #modalFooter class="text-center">Thank you!</ng-template>
</modal>