
<div class="clearfix footer-container">
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <ul>
                <li><a href="privacy-policy">Privacy Policy</a></li>
                <li><a (click)="feedbackModal.open()" target="_blank">Feedback</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-disclaimer">
    <div class="row">
        <div class="col"><cite>DoableYo © 2018 - All rights reserved.</cite></div>
    </div>
</div>

<modal #feedbackModal class="feedback-modal-wrap">
    <ng-template #modalHeader><h4>Feedback</h4></ng-template>
    <ng-template #modalBody>
        <feedback></feedback>
    </ng-template>
    <ng-template #modalFooter class="text-center">Thank you!</ng-template>
</modal>