/* You can add global styles to this file, and also import other style files */

/* Importing angular material style theme */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

html, body { height: 100%; }
/******************************************************************************************************************************
MAIN STYLE
*******************************************************************************************************************************/
body {
	background-color: #fff;
	color:#000;
	
    font-family: "Lato";
    font-weight: 300;
    font-size: 14px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #0c1b52;
}

h4 {
	font-weight: 400;
}

h1, h2, h3 {
    font-family: 'Raleway',sans-serif;
    margin-top: 30px;
    font-weight: 100;
    /*text-transform: uppercase;*/
    margin-bottom: 30px;
}
h1{
	font-size: 60px;
}

h2{ color: #0a153c;}

a:hover, a:focus {
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
            transition-duration: 0.4s;
            text-decoration:none;
}
a, a:focus {
    color: #FFC107 /*#0a153c*/;
}
p {
    margin-bottom: .2rem;
}

/******************************************************************************************************************************
HEADER
*******************************************************************************************************************************/
.header-fluid {
    /*background: #eee;*/
    /* border-bottom: 1px solid #FDC02F; */
}

#header{
    padding: 0 0 0;
}
#header h1{
    margin-bottom:0;
}

#header small {
    color: #b1afaf;
}

#header .logo {
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo .fa-globe{
    font-size: 1.8rem;
    margin-left: -5px;
    color: #442b2b /*#0a153c = dark blue color */;
}

.logo a {
    color: #FFC107; /*#00b4ff*/
}

.timer_box{
    margin: 35px 24px;
    display: inline-block;
    padding: 20px 12px 0 12px;
    text-align: center;
    width: 130px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, .6);
}
.timer_box h1{
    font-size: 48px;
    margin-top: 5px;
    margin-bottom: 0;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
}
.timer_box p{ margin-top: 0;}
#layer{
    /*background-color: rgba(0, 0, 0, .2);*/
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.banner{
    width: 100%;
    overflow:hidden;
    background-color: #000;
    padding:0;
}
.banner img{
    max-width: 100%;
}

.mt {
	margin-top: 30px;
}

.centered {
	text-align: center;
}

.about-us-wrapper {
    margin: 35px 0;
    clear: both;
    overflow: hidden;
}
.user-msg{
	background: #0a153c; /*#2C3144*/
	padding: 15px !important;
	margin: 0;
	color: #fff;
	font-size: 1rem;
	border-radius: 5px;
	border-color: #6700de21;
	border-style: solid;
	border-width: 1px;
}

footer{
    font-size:.8rem;
    color: #212529;
    background: #eeefed;  /*#442b2b;*/
    
    padding: 30px 50px;
    margin-top: 20px;
    /*min-height:200px;*/
}

/* Hide adjance images after footer tag or siblings one's */
footer + img {
    display: none;
}

footer a, footer a:hover{
    color: #212529;
}

.sticky-footer{
	/* position: fixed; */
	width:100%;
	bottom:0;
}

.cookie-notify {
    color: #ffffff;
    background-color: rgba(148, 72, 5, .9);
    border-color: transparent;
    border-radius: 0;
    /* opacity: .7; */
    width: 250px;
    right: 15px;
    bottom: 1rem;
    top: auto;
    left: auto;
    margin-bottom:0;
}

.cookie-notify a{
    color: #ffffff;
}

.horizontal-ad-flyer {
    margin-top: 15px;
    margin-bottom: 15px;
    clear: both;
}
.fixed-sideleft-flyer{
    left: 0;
    right: auto;
}
.fixed-sideright-flyer{
    left: auto;
    right: 0;
}
.fixed-sideleft-flyer-amazon, .fixed-sideright-flyer-amazon{
    top: 73px;
}

/******************************************************************************************************************************
RESPONSIVE
*******************************************************************************************************************************/
@media only screen and (max-width: 640px) {
    .timer_box{ margin: 0 12px 12px 0;}
    .tp-bullets{display: none;}
    #header .container{padding: 20px 0 20px 0}
    #header-button{ display: none;}
    #appendedInputButtons{
        border-radius: 20px;
        margin-bottom: 25px;
    }
    #slider{display: none;}
    .btn-subscribe{border-radius: 20px;}
    #contact-informations{margin-top: 24px;}
    
    .d-sm-none, .d-xs-none {display: none;}
   
}
@media only screen and (max-width: 740px) {
    .cookie-notify {
        width: 250px;
        right: 15px;
        bottom: 0;
        top: auto;
        left: auto;
    }
    .timer_box{
        width: 100px;
        padding: 16px 0 0 0;
        margin: 35px 12px;
    }
    #layer{display: none;}
    .timer_box h1{ font-size: 28px;}
    h1{ font-size: 36px;}
    
    .cookie-notify {
        position: static;
        width: 100%;
    }
}