/* You can add global styles to this file, and also import other style files */

/* Importing angular material style theme */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

/* @import "~font-awesome/css/font-awesome.css"; */

html, body { height: 100%; }
/******************************************************************************************************************************
MAIN STYLE
*******************************************************************************************************************************/
body {
	background-color: #fff;
	color:#000;
	
    font-family: "Lato";
    font-weight: 300;
    font-size: 14px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #0c1b52;
    line-height: 1.4em;
}

h4 {
	font-weight: 400;
}

h1, h2, h3 {
    font-family: 'Raleway',sans-serif;
    margin-top: 30px;
    font-weight: 100;
    /*text-transform: uppercase;*/
    margin-bottom: 30px;
}
h1{
	font-size: 60px;
}

h2{ 
    color: #002bc3;
}

a:hover, a:focus {
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
            transition-duration: 0.4s;
            text-decoration:none;
}
a, a:focus {
    color: #FFC107 /*#0a153c*/;
}
p {
    margin-bottom: .2rem;
}

/******************************************************************************************************************************
HEADER
*******************************************************************************************************************************/
.header-fluid {
    /*background: #eee;*/
    border-bottom: 2px solid #FFC107;
    /* border-top: 1px solid #0c1b52; */
    clear:both;
    margin-left: 0;
    margin-right: 0;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 15px;
    /* margin-top: 3px; */
}
/* 
.header-fluid:before {
    content: '';
    position: relative;
    top: 0;
    height:3px;
    margin-left: -25px;
    margin-right: -25px;
    display:block;
    background:#FFC107;
} */

#header{
    padding: 0 0 0;
}
#header h1{
    margin-bottom:0;
}

#header small {
    color: #b1afaf;
}

#header .logo {
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo .fa-globe{
    font-size: 1.8rem;
    margin-left: -5px;
    color: #442b2b /*#0a153c = dark blue color */;
}

.logo a {
    color: #FFC107; /*#00b4ff*/
}

.top-right-menu{
    margin-top: 25px;
}

.banner{
    width: 100%;
    overflow:hidden;
    background-color: #000;
    padding:0;
}
.banner img{
    max-width: 100%;
}

.mt {
	margin-top: 30px;
}

.centered {
	text-align: center;
}

.about-us-wrapper {
    margin: 35px 0;
    clear: both;
    overflow: hidden;
}

.user-msg{
	background: #0a153c; /*#2C3144*/
	padding: 15px !important;
	margin: 0;
	color: #fff;
	font-size: 1rem;
	border-radius: 5px;
	border-color: #6700de21;
	border-style: solid;
	border-width: 1px;
}

.footer-container{
    color: #fff;
    background: #007a7d;  /*#442b2b;*/
    border-top: 3px solid #FFC107;

    padding: 30px 15px;
    margin-top: 0;
    /*min-height:200px;*/
}

.footer-disclaimer{
    text-align: right;
    font-size:.8rem;
    padding: 3px 15px;
    background-color: #b34f4f;
    color: #fff;
}

/* Hide adjance images after footer tag or siblings one's */
.footer-container + img {
    display: none;
}

.footer-container a{
    color: #fff;
    cursor: pointer;
}

.footer-container a:hover{
    color: #fff;
}

.sticky-footer{
	position: fixed;
	width:100%;
	bottom:0;
}

.cookie-notify {
    color: #080400;
    /* background-color: rgba(241, 122, 17, 0.85); */
    background-color: rgba(228, 227, 225, 0.6);
    border-color: transparent;
    border-radius: 0;
    /* opacity: .7; */
    margin-bottom: 0;
    width: 100%;
    z-index: 1;
    left: -100%;
    position: fixed;
    bottom:0;
    height: 48px;
    animation: cookieNotifyAnimate 1s forwards 1s linear;
}

.cookie-notify a{
    color: #080400;
}

.horizontal-ad-flyer {
    margin-top: 15px;
    margin-bottom: 15px;
    clear: both;
}
.fixed-sideleft-flyer{
    left: 0;
    right: auto;
}
.fixed-sideright-flyer{
    left: auto;
    right: 0;
}
.fixed-sideleft-flyer-amazon, .fixed-sideright-flyer-amazon{
    top: 73px;
}

.block-doable-yo-one {
  background-color: #8a8a8a14;
  padding: 35px 20px;
  min-height: 300px;
}

.block-doable-yo-one h2{
    color: #008ef9db;
}
/******************************************************************************************************************************
BOOTSTRAP STYLE OVERWRITE
*******************************************************************************************************************************/
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.main-wrapper-card {
    margin: 30px 25px;
}
.main-wrapper-card mat-card-content h2 {
    margin-top: 0;
}

.btn-primary {
  color: #1b1818;
  background-color: #ffee00;
  border-color: #f7ec02;
}

/******************************************************************************************************************************
ANIMATION STYLES
*******************************************************************************************************************************/
@keyframes cookieNotifyAnimate{
    0%{
        /* transform: translateX(-100px); */
        left: -100%;
    }
    25%{
        left: -75%;
        /* transform: translateX(-75%); */
    }
    50%{
        left: -50%;
        /* transform: translateX(-50%); */
    }
    75%{
        left: -25%;
        /* transform: translateX(-25%); */
    }
    100%{
        left: -0%;
        /* transform: translateX(0px) translateY(0); */
        margin: 0;
    }
}

@keyframes logoAnimation{
    0%{
        transform: rotate(0deg) translateX(0) translateY(-80px);
    }
    25%{
        transform: rotate(0deg) translateX(100px) translateY(-55px);
    }
    50%{
        transform: rotate(0deg) translateX(0) translateY(-30px);
    }
    75%{
        transform: rotate(0deg) translateX(100px) translateY(0);
    }
    100%{
        transform: rotate(0deg) translateX(0px) translateY(0);
        }
}
/* 
.logo{
    animation: logoAnimation .5s forwards 1s cubic-bezier(0.77, 0, 0.175, 1);
} */

/******************************************************************************************************************************
RESPONSIVE
*******************************************************************************************************************************/
@media only screen and (max-width: 640px) {
    
    #header .container{padding: 20px 0 20px 0}
    #header-button{ display: none;}
    
    .d-sm-none, .d-xs-none {display: none;}
   
}
@media only screen and (max-width: 740px) {
    /* .cookie-notify {
        width: 250px;
        right: 15px;
        bottom: 0;
        top: auto;
        left: auto;
    }
    .timer_box{
        width: 100px;
        padding: 16px 0 0 0;
        margin: 35px 12px;
    }
    #layer{display: none;}
    .timer_box h1{ font-size: 28px;}
    h1{ font-size: 36px;}
    
    .cookie-notify {
        position: static;
        width: 100%;
    } */
}