
<mat-card>
        <mat-card-content>
            <mat-grid-list cols="12" rowHeight="6:18">
                <mat-grid-tile [colspan]="6" class="grid-tile"><about></about></mat-grid-tile>
                <mat-grid-tile [colspan]="6" class="grid-tile"> 
                    <div class="text-center">
                            <h3>Ad with us and grow your business rapid.</h3>
                            <p>If interested, you can write to us @ <a class="" href="mailto:hello@doableyo.com"><i class="fa fa-envelope-square"></i> Hello</a>.</p>
                            
                            <br><br>
                        </div>
                </mat-grid-tile>
            </mat-grid-list>

            <br>
           
            <horizontal-ads></horizontal-ads>
           
            <p>Start here! </p>
            <br >
            <br >
            <br >
            <br >
            <br >
            <br >
            <br >
            <br >
            <br >
            <br >
            <br >
            <br >
            <p id="adPanel">Ads </p>
            <br >
            <br >
            <br >
            <br >
            <br >
            <br >
            <br >
            <br >
            <br >
            <br >
            <br >   
            <br >
            <br >
            <br >
            <br >
            <br >
            <br >
            <br >
        
        </mat-card-content>
</mat-card>

