
<mat-card>
        <mat-card-content>
            <div class="about-us-wrapper">
                <h2>What is DoableYo for you?</h2>
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <about></about>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center">
                            <h3>Ad with us and speedup your businesses!</h3>
                            <p>Reach us to <a class="" href="mailto:addus@doableyo.com"><i class="fa fa-envelope-square"></i> addus@doableyo.com</a>.</p>
                            
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
            <br>
           
            <horizontal-ads></horizontal-ads>
           
        </mat-card-content>
</mat-card>


